.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*align-content: stretch;*/
    justify-content: center;
    /*align-items: stretch;*/
}

.vr{
    width: .15rem;
}

.exp-button {
    background-color: #CCFF33 !important;
    width: 13rem;
}
.exp-button:hover {
    background-color: #212921 !important;
}

.circle{
    border-width: .15rem!important;
    /*border-radius: 99rem;*/
    border-color: var(--bs-body-color);
    height: 1.25rem;
    width: 1.25rem;
    background-color: #CCFF33;
}

.timeline{
    padding-bottom: .25rem!important;
}

@media (min-width: 720px) {
    .date-size {
        width: 8rem;
    }
}
@media (max-width: 719px) {
    .date-size {
        width: 4rem;
    }
}


